@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2C53D, #F2F0D5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6451199a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #668C4A;
    text-align: center;
    text-shadow: 2px 2px 3px #3d532d81;
}

h2 {
    color: #A6BF4B;
}

p {
    text-align: justify;
}